{% extends 'base.html.twig' %}

{% block body %}
    <h1>Options list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td><a href="{{ path('options_show', { 'id': option.id }) }}">{{ option.id }}</a></td>
                <td>{{ option.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('options_show', { 'id': option.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('options_edit', { 'id': option.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('options_new') }}">Create a new option</a>
        </li>
    </ul>
{% endblock %}
