
{% if envoi is defined %}
    
    {{ envoi }}
    
{% endif %}

{{ form_start(form) }}


    <div class='mail-input-zone'>
        <div class='mail-input-zone-label'>
        {{ form_label(form.name) }}
        </div>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div  class='mail-input-zone'>
        <div class='mail-input-zone-label'>
        {{ form_label(form.phone) }}
        </div>
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>
       
    <div class='mail-input-zone'>
        <div class='mail-input-zone-label'>
        {{ form_label(form.subject) }}
        </div>
           
        {% if car %}
            {% set objet %}
{{ car.id}} - {{ car.modele.marque }} {{ car.modele.name }} {{ car.motorisation }} 
             {% endset %}
            {{ form_widget(form.subject, {'value' : objet}) }}
        {% else %}
            {{ form_widget(form.subject) }}
        {%endif %}
        
        {{ form_errors(form.subject) }}
    </div>
    
    <div  class='mail-input-zone'>
        <div class='mail-input-zone-label'>
        {{ form_label(form.email) }}
        </div>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    
    <div  class='mail-input-zone-textarea'>
        <div class='mail-input-zone-label'>
        {{ form_label(form.message) }}
        </div>
      
        
         {% if car %}
             {% set mail %}     
Je souhaite obtenir des renseignements sur le véhicule suivant :
{{ car.modele.marque }} {{ car.modele.name }} 
{{ car.motorisation }}
Prix destockage  : {{ car.prixdestock }} €
Année : {{ car.annee }}
Kilométrage : {{ car.kms }} kms
numéro : {{ car.id}}
Merci de me contacter au plus vite :-)

Bonnej journée !                 
             {% endset %}
             
        {{ form_widget(form.message, {'value' : mail|raw}) }}
        {% else %}
        {{ form_widget(form.message) }}
        {%endif %}
        
        {{ form_errors(form.message) }}
    </div>
    <div class="g-recaptcha" data-sitekey="6LcESm4UAAAAAECT4YleuImLvFTR4TGE2GY26jKX"></div> 
    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>
    
    <div class="mail-btn-zone">
    <input  class='btn mail-input-btn' type="submit" value="Envoyer">
    </div>
{{ form_end(form) }}

