{% extends 'base.html.twig' %}

{% block body %}
  <div class="bann">
            <div class="logo center">
                <a href="{{ path('homepage') }}"><img src="{{ asset('img') }}/logo.png" alt="Lemaire Autos"></a>
            </div>
            <div class="menu right">
                <img src="{{ asset('img') }}/menu.png" alt="Menu">
                <div class="menu-small hidden">
                    <a href="{{ path('homepage') }}"><div class="menu-link">VEHICULES</div></a>
                    <a href="{{ path('infos') }}#contact"><div class="menu-link">CONTACT</div></a>
                    <a href="{{ path('infos') }}#location"><div class="menu-link">OU SOMMES-NOUS</div></a>
                </div>
            </div>
            <div class="rs-up">
                <div class="rs fb">
                    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="button" data-size="small" data-mobile-iframe="false">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
                    </div>
                </div>
                        
                  <div class="rs">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                    <script type="IN/Share" data-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))}}"></script>   
                </div>
                        
                        
                    
                <div class="rs">
                    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><img src="{{ asset('img/rs') }}/twitter.png" alt="Partager sur Twitter"></a>
                </div>
                
                <div class="rs"> 
                    <a href="https://plus.google.com/share?url={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Partager sur Google+"/></a>
                </div>

                
                <div class="rs">
                    <a href="mailto:?subject=Lemaire Automobiles&amp;body=Jette un oeil à ce site, c'est le spécialiste des véhicules à bas prix : http://www.lemaire-autos.com" title="Lemaire Automobiles">
                     <img src="{{ asset('img/rs') }}/letter.png" alt="Mail">
                    </a>
                </div>
                
            </div>
                
                
                <div class="search-menu">
                    <a href="{{ path('infos') }}#contact">
                        <div class="search-menu-contact-zone">
                            <div class="search-menu-contact-txt">
                              CONTACT
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('infos') }}#location">
                      <div class="search-menu-location-zone">
                        <div class="search-menu-location-txt">
                          OU SOMMES NOUS
                        </div>
                      </div>
                    </a>
                  </div>
                

        </div>

        <div class="modalcovid hidden">
            <div class="covidzone">
                <div class="covidimg"><img src="{{ asset('img/') }}/social-dist.png" alt="Distance sociale"></div>
                <div class="covidtxt">Distance de sécurité</div> 
            </div>
            <div class="covidzone">
                 <div class="covidimg"><img src="{{ asset('img/') }}/mask.png" alt="Masque"></div>
                <div class="covidtxt">Gestes barrière</div> 
            </div>
            <div class="covidzone">
                <div class="covidimg"><img src="{{ asset('img/') }}/spray.png" alt="Désinfection"></div>
                <div class="covidtxt">Désinfection des véhicules</div> 
            </div>
                <div class="covidtitle">Pendant toute la durée du confinement, votre concession <b>LEMAIRE AUTOMOBILES</b>
            met en place des mesures sanitaires exceptionnelles pour vous permettre d'acheter un de nos véhicules d'occasion
            en toute sécurité.</div>
            <div class="covidexp1">Vous avez de l'interêt pour un de nos véhicules ? <span class="covidclick">Cliquez ici pour voir comment faire</span></div>
            <div class="covidexp2 hidden">
                <ul>
                    <li>Choisissez votre futur véhicule parmi notre stock de voitures d'occasion disponible sur notre site
                        ou sur <a href='https://pros.lacentrale.fr/C046373/'  target="_blank">La Centrale</a>
                        ou sur <a href='https://www.leboncoin.fr/boutique/11212/lemaire_autos.htm/' target="_blank">Le Bon Coin</a>.</li>
                    <li>Contactez-nous au 07 60 24 62 29. Anthony, votre commercial dédié, vous proposera un rendez-vous privé pour visiter et essayer le véhicule sur notre parc.</li>
                    <li>Pendant ce rendez-vous exclusif, les gestes barrières (port du masque, distance de sécurité...) seront strictement respectés.</li>
                    <li>De plus, une désinfection du véhicule sera réalisée avant votre visite, avec une attention particulière sur les poignées de porte, le volant, le levier de vitesse, le rétroviseur intérieur...</li>
                    <li><b>N'hésitez plus ! Contactez-nous, votre véhicule vous attend chez LEMAIRE AUTOMOBILES !</b></li>
          
                </ul>
            </div>
            <div class="btn btn-covid">Fermer</div>
             <div class="checkboxcovid">
                        <input type="checkbox" id="checkboxcovid" name="checkboxcovid" value="0">
                        <label for="checkboxcovid">Ne plus afficher ce message</label>
                    </div>
              

        </div>      
                 
                
        <div class="search">
{#            <div class="layer">#}
            <div class="search-left">
                <img src="{{ asset('img/red') }}/car.png" alt="Lemaire Autos">
            </div>

            <div class="search-right">
                <div class="search-up">
                  <div class="search-title ">
                      SPECIALISTE DU VEHICULE D'OCCASION A PRIX DISCOUNT
                  </div>
              </div>
              
              
              <div class="selects-search">
                  <div class="select-brand">
                      <select name="brand" class="select">
                        <option value="" selected>--- Toutes les marques ---</option>
                        {% for key,marque in marques %}
                            <option value="{{key}}">{{key}}({{marque}})</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="select-price">
                      <select name="price" class="select">
                        <option value="" selected>--- Tous les prix ---</option>
                        <option value="0" data-max="2500">- de 2 500€</option>
                        <option value="2500" data-max="5000">entre 2 500€ et 5 000€</option>
                        <option value="5000" data-max="7500">entre 5 000€ et 7 500€</option>
                        <option value="7500" data-max="10000">entre 7 500€ et 10 000€</option>
                        <option value="10000" data-max="100000">+ de 10 000€</option>
                      </select>
                  </div>
                  <div class="select-energy">
                      <select name="energy" class="select">
                        <option value="" selected>--- Toutes les énérgies ---</option>
                        {% for energie in energies %}
                            <option value="{{energie.name}}">{{energie.name}}</option>
                        {% endfor %}
                      </select>
                  </div>
                      <div class="car-counter-text">
                          
                          <b><div class="car-counter"></div></b> véhicule(s) affiché(s).

                      </div>
              </div>
            </div>
          </div>
{#          </div>#}
                      
          <div class="list">
              
{#                          <div class="loading"><img src="{{ asset('img') }}/loading.gif" alt="Chargement des véhicule"></div>#}
  
          {% for car in cars %}
                      
          
              <div class="vignette show" data-brand="{{car.modele.marque.name}}" data-price="{{car.prixdestock}}" data-energy="{{car.energie.name}}">
            	<a href="{{ path('car_show', { 'id': car.id }) }}">
                <div class="vignette-petite">
	            	<div class="vignette-modele">{{car.modele.marque.name}} {{car.modele.name}}</div>
	            	<div class="vignette-motor">
	            		{{car.motorisation}}
	            	</div>
	            	<div class="vignette-img">
                            
                        {% for photo in photos %}
                            {% if photo.car.id is same as (car.id) %}
                                  {% if car.vendu == true %} <div class="vendu">VENDU !</div>{% endif %}
                                 <img src="{{ asset('/web/img/cars/') }}{{ photo.pathsmall }}/{{photo.namesmall}}" alt="{{car.modele.marque.name}} {{car.modele.name}}">
                            {% endif %}
                        {% endfor %}
{#	            		<img src="{{ asset('img/') }}/cars/IMG_CAR.JPG" alt="PEUGEOT 106">#}
	            	</div>
	            	<div class="vignette-price-zone">
                            {% if car.prixdestock > 0 %}
                            <div class="vignette-price">{{car.prixdestock}}€</div>
                            <div class="vignette-price-text">Prix destockage</div>
                            {% elseif car.prixdestock <= 0 and car.prixgarantie > 0 %}
                            <div class="vignette-price">{{car.prixgarantie}}€</div>
                            <div class="vignette-price-trait">Prix garantie 12 mois</div>
                            {% elseif car.prixdestock <= 0 and car.prixgarantie <= 0 %}
                             <div class="vignette-price-temp">Prix à venir</div>

                            {% endif %}
   
                     
                            
                            
                            
	            	</div>
	            	<div class="vignette-details-zone">
	            		<div class="vignette-details-energy">
	            			<img src="{{ asset('img/details') }}/station.png" alt="Energie">
	            			{{car.energie.name}}
	            		</div>
	            		<div class="vignette-details-year">
	            			<img src="{{ asset('img/details') }}/calendar.png" alt="Année">
	            			{{car.annee}}
	            		</div>
	            		<div class="vignette-details-kms">
	            			<img src="{{ asset('img/details') }}/wheel.png" alt="Kilométrage">
	            			{{car.kms}} Kms
	            		</div>
	            	</div>
	            </div>
	            
	         <div class="vignette-grande">
                <div class="vignette-img">
                   {% for photo in photos %}
                            {% if photo.car.id is same as (car.id) %}
                                {% if car.vendu == true %} <div class="vendu">VENDU !</div>{% endif %}
                                 <img src="{{ asset('web/img/cars/') }}{{ photo.pathsmall }}/{{photo.namesmall}}" alt="{{car.modele.marque.name}} {{car.modele.name}}">
                            {% endif %}
                        {% endfor %}
                </div>
                <div class=vignette-middle>
                  <div class=vignette-middle-title>
                    <div class="vignette-modele">
                      {{car.modele.marque.name}} {{car.modele.name}}
                    </div>
                    <div class="vignette-motor">
                      {{car.motorisation}}
                    </div>
                  </div>
                  <div class=vignette-middle-details>
                    <div class="vignette-details-zone">
                      <div class="vignette-details-energy">
                        <img src="{{ asset('img/details') }}/station.png" alt="Energie">
                        {{car.energie.name}}
                      </div>
                      <div class="vignette-details-year">
                        <img src="{{ asset('img/details') }}/calendar.png" alt="Année">
                        {{car.annee}}
                      </div>
                      <div class="vignette-details-kms">
                        <img src="{{ asset('img/details') }}/wheel.png" alt="Kilométrage">
                        {{car.kms}} Kms
                      </div>
                    </div>
                    <div class="vignette-options1">
                      <ul>
                          {% for option in car.options|slice(0,3) %}
                              {%if option %}<li>{{option}}</li>{% endif %}
                              {%endfor%}
                       {# {%if car.options.0 %}<li>{{car.options.0}}</li>{% endif %}
                        {%if car.options.1 %}<li>{{car.options.1}}</li>{% endif %}
                        {%if car.options.2 %}<li>{{car.options.2}}</li>{% endif %}#}
                      </ul>
                    </div>
                    <div class="vignette-options2">
                       <ul>
                      {% for option in car.options|slice(4,2) %}
                              {%if option %}<li>{{option}}</li>{% endif %}
                              {%endfor%}
                        <li>En savoir plus...</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="vignette-price-zone">
                  
                  {% if car.prixdestock > 0 and car.prixgarantie > 0 %}
                    <div class="vignette-price">{{car.prixdestock}}€</div>
                    <div class="vignette-price-trait">Prix destockage</div>
                    <div class="vignette-price-garantie">{{car.prixgarantie}}€</div>
                    <div class="vignette-price-text">Prix garantie 12 mois</div>
                  
                  {% elseif car.prixdestock > 0 and car.prixgarantie <= 0 %}
                    <div class="vignette-price">{{car.prixdestock}}€</div>
                    <div class="vignette-price-trait">Prix destockage</div>
                  
                  {% elseif car.prixdestock <= 0 and car.prixgarantie > 0 %}
                    <div class="vignette-price">{{car.prixgarantie}}€</div>
                    <div class="vignette-price-trait">Prix garantie 12 mois</div>
                      
                  {% elseif car.prixdestock <= 0 and car.prixgarantie <= 0 %}
                    <div class="vignette-price">Prix à venir</div>
                    <div class="vignette-price-trait"></div>
                  {% endif %}

                </div>

              </div>
             </a>
            </div>
                        
            {% endfor %}

          
          </div>


          <div class="down"></div>

          <div class="rs-down">
            <div class="rs fb">
                    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="button" data-size="small" data-mobile-iframe="false">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
                    </div>
                </div>
                        
                  <div class="rs">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                    <script type="IN/Share" data-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))}}"></script>   
                </div>
                        
                        
                    
                <div class="rs">
                    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><img src="{{ asset('img/rs') }}/twitter.png" alt="Partager sur Twitter"></a>
                </div>
                
                <div class="rs"> 
                    <a href="https://plus.google.com/share?url={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Partager sur Google+"/></a>
                </div>
                    
{#                <div class="rs">
                    
                    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                    <a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-pin-do="buttonBookmark"></a>
                    
                    
                    
                  <img src="{{ asset('img/rs') }}/pinterest.png" alt="Menu">
                </div>#}
                
             
                
                <div class="rs">
                    <a href="mailto:?subject=Lemaire Automobiles&amp;body=Jette un oeil à ce site, c'est le spécialiste des véhicules à bas prix : http://www.lemaire-autos.com" title="Lemaire Automobiles">
                     <img src="{{ asset('img/rs') }}/letter.png" alt="Mail">
                    </a>
                </div>
                
          </div>


            
   



    
{% endblock %}

{% block stylesheets %}

    
{% endblock %}
