{% extends 'base.html.twig' %}

{% block body %}
{#   {{dump(cars)}}#}
  <div class="bann">
            <div class="logo center">
               <img src="{{ asset('img') }}/logo.png" alt="Lemaire Autos">
            </div>
            <div class="menu right">
                <img src="{{ asset('img') }}/menu.png" alt="Menu">
                <div class="menu-small hidden">
                    <a href="{{ path('homepage') }}"><div class="menu-link">VEHICULES</div></a>
                    <a href="{{ path('infos') }}#contact"><div class="menu-link">CONTACT</div></a>
                    <a href="{{ path('infos') }}#location"><div class="menu-link">OU SOMMES-NOUS</div></a>
                    <a href="{{ path('infos') }}#entretien"><div class="menu-link">ENTRETIEN</div></a>
                    <a href="{{ path('infos') }}#garantie"> <div class="menu-link">GARANTIE</div></a>
                    <a href="{{ path('infos') }}#financement"><div class="menu-link">FINANCEMENT</div></a>
                    <a href="{{ path('homepage') }}"><div class="menu-link">ADMINISTRATION</div></a>     
                </div>
                
                
                
                
            </div>
            <div class="rs-up">
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/facebook.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/twitter.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/google-plus.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/pinterest.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/linkedin.png" alt="Menu">
                </div>
            </div>

        </div>

        <div class="search">
            <div class="search-left">
                <img src="{{ asset('img/white') }}/car.png" alt="Lemaire Autos">
            </div>

            <div class="search-right">
              <div class="search-up">
                  <div class="search-title ">
                      SPECIALISTE DU VEHICULE D'OCCASION A PRIX DISCOUNT
                  </div>
                  <div class="search-menu">
                      <div class="search-menu-contact-zone">
                         <div class="search-menu-contact-img">
                            <img src="{{ asset('img/white') }}/speech.png" alt="Menu">
                          </div>
                          <div class="search-menu-contact-txt">
                            CONTACT
                          </div>
                      </div>
                      <div class="search-menu-location-zone">
                         <div class="search-menu-location-img">
                          <img src="{{ asset('img/white') }}/map.png" alt="Menu">
                        </div>
                        <div class="search-menu-location-txt">
                          OU SOMMES NOUS
                        </div>
                      </div>
                  </div>
              </div>
              
              <div class="selects-search">
                  <div class="select-brand">
                      <select name="brand" class="select">
                        <option value="" selected>--- Toutes les marques ---</option>
                        {% for marque in marques %}
                            <option value="{{marque.name}}">{{marque.name}}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="select-price">
                      <select name="price" class="select">
                        <option value="" selected>--- Tous les prix ---</option>
                        <option value="0" data-max="2500">- de 2500€</option>
                        <option value="2500" data-max="5000">entre 2500€ et 5000€</option>
                        <option value="5000" data-max="7500">entre 5000€ et 7500€</option>
                        <option value="7500" data-max="10000">entre 7500€ et 10000€</option>
                        <option value="10000" data-max="100000">>+ de 10000€</option>
                      </select>
                  </div>
                  <div class="select-energy">
                      <select name="energy" class="select">
                        <option value="" selected>--- Toutes les énérgies ---</option>
                        {% for energie in energies %}
                            <option value="{{energie.name}}">{{energie.name}}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
          </div>
                      
          <div class="list">
          {% for car in cars %}
                      
          
              <div class="vignette" data-brand="{{car.modele.marque.name}}" data-price="{{car.prixdestock}}" data-energy="{{car.energie.name}}">
            	<a href="{{ path('car_show', { 'id': car.id }) }}">
                <div class="vignette-petite">
	            	<div class="vignette-modele">{{car.modele.marque.name}} {{car.modele.name}}</div>
	            	<div class="vignette-motor">
	            		{{car.motorisation}}
	            	</div>
	            	<div class="vignette-img">
                            
                        {% for photo in photos %}
                            {% if photo.car.id is same as (car.id) %}
                                 <img src="{{ asset('img/cars/') }}{{ photo.pathsmall }}/{{photo.namesmall}}" alt="{{car.modele.marque.name}} {{car.modele.name}}">
                            {% endif %}
                        {% endfor %}
{#	            		<img src="{{ asset('img/') }}/cars/IMG_CAR.JPG" alt="PEUGEOT 106">#}
	            	</div>
	            	<div class="vignette-price-zone">
	            		<div class="vignette-price">{{car.prixdestock}}€</div>
	            		<div class="vignette-price-text">
	            			Prix destockage
	            		</div>
	            	</div>
	            	<div class="vignette-details-zone">
	            		<div class="vignette-details-energy">
	            			<img src="{{ asset('img/details') }}/station.png" alt="Energie">
	            			{{car.energie.name}}
	            		</div>
	            		<div class="vignette-details-year">
	            			<img src="{{ asset('img/details') }}/calendar.png" alt="Année">
	            			{{car.annee}}
	            		</div>
	            		<div class="vignette-details-kms">
	            			<img src="{{ asset('img/details') }}/wheel.png" alt="Kilométrage">
	            			{{car.kms}} Kms
	            		</div>
	            	</div>
	            </div>
	            
	         <div class="vignette-grande">
                <div class="vignette-img">
                   {% for photo in photos %}
                            {% if photo.car.id is same as (car.id) %}
                                 <img src="{{ asset('img/cars/') }}{{ photo.pathsmall }}/{{photo.namesmall}}" alt="{{car.modele.marque.name}} {{car.modele.name}}">
                            {% endif %}
                        {% endfor %}
                </div>
                <div class=vignette-middle>
                  <div class=vignette-middle-title>
                    <div class="vignette-modele">
                      {{car.modele.marque.name}} {{car.modele.name}}
                    </div>
                    <div class="vignette-motor">
                      {{car.motorisation}}
                    </div>
                  </div>
                  <div class=vignette-middle-details>
                    <div class="vignette-details-zone">
                      <div class="vignette-details-energy">
                        <img src="{{ asset('img/details') }}/station.png" alt="Energie">
                        {{car.energie.name}}
                      </div>
                      <div class="vignette-details-year">
                        <img src="{{ asset('img/details') }}/calendar.png" alt="Année">
                        {{car.annee}}
                      </div>
                      <div class="vignette-details-kms">
                        <img src="{{ asset('img/details') }}/wheel.png" alt="Kilométrage">
                        {{car.kms}} Kms
                      </div>
                    </div>
                    <div class="vignette-options1">
                      <ul>
                          {% for option in car.options|slice(0,3) %}
                              {%if option %}<li>{{option}}</li>{% endif %}
                              {%endfor%}
                       {# {%if car.options.0 %}<li>{{car.options.0}}</li>{% endif %}
                        {%if car.options.1 %}<li>{{car.options.1}}</li>{% endif %}
                        {%if car.options.2 %}<li>{{car.options.2}}</li>{% endif %}#}
                      </ul>
                    </div>
                    <div class="vignette-options2">
                       <ul>
                      {% for option in car.options|slice(4,2) %}
                              {%if option %}<li>{{option}}</li>{% endif %}
                              {%endfor%}
                        <li>En savoir plus...</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="vignette-price-zone">
                  <div class="vignette-price">
                    {{car.prixdestock}}€
                  </div>
                  <div class="vignette-price-trait">
                    Prix destockage
                  </div>
                  <div class="vignette-price-garantie">
                    {{car.prixgarantie}}€
                  </div>
                  <div class="vignette-price-text">
                    Prix garantie 12 mois
                  </div>
                </div>

              </div>
             </a>
            </div>
                        
            {% endfor %}

          </div>

          <div class="services-band">

            <div class="service-vignette">
                <a href="{{ path('infos')}}#contact"> 
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}speech.png" alt="Nous contacter">
                        <img class="white" src="{{ asset('img/white/') }}speech.png" alt="Nous contacter">
                    </div>
                    <div class="service-title">
                        NOUS CONTACTER
                    </div>
                    <div class="service-text">
                        Contactez-nous pour obtenir des informations
                    </div>   
                </a>
            </div>
             
            <div class="service-vignette">
                 <a href="{{ path('infos') }}#location"> 
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}map.png" alt="Nous trouver">
                        <img class="white" src="{{ asset('img/white/') }}map.png" alt="Nous trouver">
                    </div>
                    <div class="service-title">
                        NOUS TROUVER
                    </div>
                    <div class="service-text">
                        Où sommes-nous ? Qui sommes-nous ?
                    </div>
                 </a>
            </div>
            <div class="service-vignette">
                 <a href="{{ path('infos') }}#entretien"> 
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}screw.png" alt="Révision et entretien">
                        <img class="white" src="{{ asset('img/white/') }}screw.png" alt="Révision et entretien">
                    </div>
                    <div class="service-title">
                        REVISION et ENTRETIEN
                    </div>
                    <div class="service-text">
                        Votre véhicule est révisé par nos soins
                    </div>
                </a>
            </div>
            <div class="service-vignette">
                 <a href="{{ path('infos') }}#garantie"> 
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}ribbon.png" alt="Garantie">
                        <img class="white" src="{{ asset('img/white/') }}ribbon.png" alt="Garantie">
                    </div>
                    <div class="service-title">
                        GARANTIE
                    </div>
                    <div class="service-text">
                        Votre véhicule est garanti un an
                    </div>
                </a>
            </div>
            <div class="service-vignette">
                 <a href="{{ path('infos') }}#financement"> 
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}bank.png" alt="Financement">
                        <img class="white" src="{{ asset('img/white/') }}bank.png" alt="Financement">
                    </div>
                    <div class="service-title">
                        FINANCEMENT
                    </div>
                    <div class="service-text">
                        Découvrez nos facilités de financement
                    </div>
                </a>
            </div>
          </div>

          <div class="down">

          </div>

          <div class="rs-down">
            <div class="rs">
              <img src="{{ asset('img/rs') }}/facebook.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/rs') }}/twitter.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/rs') }}/google-plus.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/rs') }}/pinterest.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/rs') }}/linkedin.png" alt="Menu">
            </div>
          </div>


            
   



    
{% endblock %}

{% block stylesheets %}

    
{% endblock %}
