{% extends 'base.html.twig' %}

{% block body %}

    
  <div class="bann">
            <div class="logo center">
               <img src="{{ asset('img') }}/logo.png" alt="Lemaire Autos">
            </div>
            <div class="menu right">
                <img src="{{ asset('img') }}/menu.png" alt="Menu">
                 <div class="menu-small hidden">
                    <a href="{{ path('homepage') }}"><div class="menu-link">VEHICULES</div></a>
                    <a href="{{ path('infos') }}#contact"><div class="menu-link">CONTACT</div></a>
                    <a href="{{ path('infos') }}#location"><div class="menu-link">OU SOMMES-NOUS</div></a>
                </div>
               
            </div>
            <div class="rs-up">
                 <div class="rs fb">
                    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="button" data-size="small" data-mobile-iframe="false">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
                    </div>
                </div>
                        
                  <div class="rs">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                    <script type="IN/Share" data-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))}}"></script>   
                </div>
                             
                <div class="rs">
                    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><img src="{{ asset('img/rs') }}/twitter.png" alt="Partager sur Twitter"></a>
                </div>
                
                <div class="rs"> 
                    <a href="https://plus.google.com/share?url={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Partager sur Google+"/></a>
                </div>
                
                <div class="rs">
                    <a href="mailto:?subject=Lemaire Automobiles&amp;body=Jette un oeil à ce site, c'est le spécialiste des véhicules à bas prix : http://www.lemaire-autos.com" title="Lemaire Automobiles">
                     <img src="{{ asset('img/rs') }}/letter.png" alt="Mail">
                    </a>
                </div>
            </div>
    
                <div class="search-menu">
                    <a href="{{ path('homepage') }}">
                      <div class="search-menu-vehicule-zone">
                        <div class="search-menu-location-txt">
                          <p>VEHICULES</p>
                        </div>
                      </div>
                    </a>                      
                  </div>      
            </div>
                
                <div class='infos-who-left'>                         
                    <b> Bienvenue chez Lemaire-Autos ! </b><br>
                    Depuis <b>plus de trente ans</b>, nous sommes spécialistes du véhicule d'occasion à petits prix.<br>
                    Un choix de <b>plus de 100 véhicules</b> révisés et garantis vous attend sur notre parc d'exposition. N'hésitez pas à nous rendre visite !
                </div>

                   
           <a class="block" name="location"></a>   
            <div class="template-infos">
            
                    <div class="infos-location-address">
                        <span class="infos-location-left-title">
                            Notre adresse : 
                        </span>
                        <span class="infos-location-left-adress">
                            Concession Lemaire Automobiles<br>
                            3, Rue des Lurons<br>
                            54200 Dommartin-lès-Toul<br>
                            tel : 03.83.62.85.95 - fax : 03.83.62.84.95<br>
                        </span>
                    </div>
                     <a href="{{ path('homepage') }}">
                      <div class="infos-vehicule-zone">
                          <p>TROUVEZ VOTRE VEHICULE</p>
                      </div>
                    </a>
                    <div class="infos-location-hours">
                        <span class="infos-location-left-title">
                            Horaires d'ouverture : 
                        </span>
                        <span class="infos-location-left-adress">
                            du mardi au samedi<br>
                            de 9h à 12h et de 14h à 18h
                        </span>
                    </div>

                    <div id="map"></div>   

                        <script>

                        function initMap() {
                            var garage = {lat: 48.670348, lng: 5.928769};
                            var map = new google.maps.Map(
                                document.getElementById('map'), {zoom: 9, center: garage});
                            var marker = new google.maps.Marker({position: garage, map: map});
                          }
                        </script>
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2O30FJvjYjV2aU4FiQtgKHGtX-UbCVRo&callback=initMap">
                        </script>

            </div>

            <a class="block" name="contact"></a>     
                <div class="infos-white" id="contact">
                    <img class="infos-img-grey" src="{{ asset('img/grey/') }}speech.png" alt="Nous contacter">
                    <div class='infos-contact-left'>
                        <div class="mail-title">
                            Nous contacter 
                        </div>
                    </div>
                    <div class='infos-contact-right'>
                    
                          
                       {% if app.request.get('envoi') is defined %}
                            {% if app.request.get('envoi') == 'OK' %}
                                <div class="alert alert-success">Merci ! Votre message a bien été envoyé, nous allons vous contacter au plus vite :-)</div>
                            {% elseif app.request.get('envoi') == 'NOK' %}
                                <div class="alert alert-danger">Un problème est survenu :-( Merci de retenter votre envoi ou de nous contacter par téléphone</div>
                            {% endif %}
                       {% endif %}
                
                        {% include 'LemaireBundle:Default:contact.html.twig' with {'form': form, 'car' : car}%}
             
                    </div>
                </div>
           
        
              
              
              
              
              
              
          <div class="down">

          </div>

          <div class="rs-down">
             <div class="rs fb">
                    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="button" data-size="small" data-mobile-iframe="false">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
                    </div>
                </div>
                        
                  <div class="rs">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                    <script type="IN/Share" data-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))}}"></script>   
                </div>
                        
                        
                    
                <div class="rs">
                    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><img src="{{ asset('img/rs') }}/twitter.png" alt="Partager sur Twitter"></a>
                </div>
                
                <div class="rs"> 
                    <a href="https://plus.google.com/share?url={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Partager sur Google+"/></a>
                </div>
                    
{#                <div class="rs">
                    
                    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                    <a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-pin-do="buttonBookmark"></a>
                    
                    
                    
                  <img src="{{ asset('img/rs') }}/pinterest.png" alt="Menu">
                </div>#}
                
             
                
                <div class="rs">
                    <a href="mailto:?subject=Lemaire Automobiles&amp;body=Jette un oeil à ce site, c'est le spécialiste des véhicules à bas prix : http://www.lemaire-autos.com" title="Lemaire Automobiles">
                     <img src="{{ asset('img/rs') }}/letter.png" alt="Mail">
                    </a>
                </div>
          </div>



    
{% endblock %}

{% block stylesheets %}

    
{% endblock %}
