{% extends 'base.html.twig' %}

{% block body %}

  <div class="hidden" id="template">{{app.request.get('template')}}</div>
    
  <div class="bann">
            <div class="logo center">
               <img src="{{ asset('img') }}/logo.png" alt="Lemaire Autos">
            </div>
            <div class="menu right">
                <img src="{{ asset('img') }}/menu.png" alt="Menu">
            </div>
            <div class="rs-up">
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/facebook.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/twitter.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/google-plus.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/pinterest.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/linkedin.png" alt="Menu">
                </div>
            </div>

        </div>
                
          <div class="services-band">
              
            <div class="service-vignette">
                 <a href="{{ path('homepage') }}">
                    <div class="service-logo">
                        <img src="{{ asset('img/white/') }}car.png" alt="Véhicules">
                    </div>
                    <div class="service-title">
                        VEHICULES
                    </div>
                    <div class="service-text">
                        Trouvez votre voiture en un clic
                    </div>      
                 </a>
            </div>
              
            <div class="service-vignette active" data-blc="contact">
                    <div class="service-logo">
                      <img class="red" src="{{ asset('img/red/') }}speech.png" alt="Nous contacter">
                      <img class="white hidden" src="{{ asset('img/white/') }}speech.png" alt="Nous contacter">
                    </div>
                    <div class="service-title">
                        NOUS CONTACTER
                    </div>
                    <div class="service-text">

                    </div> 
            </div>
            <div class="service-vignette" data-blc="location">
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}map.png" alt="Nous trouver">
                        <img class="white" src="{{ asset('img/white/') }}map.png" alt="Nous trouver">
                    </div>
                    <div class="service-title">
                        NOUS TROUVER
                    </div>
                    <div class="service-text">

                    </div> 
            </div>
            <div class="service-vignette" data-blc="entretien">
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}screw.png" alt="Révision et entretien">
                        <img class="white" src="{{ asset('img/white/') }}screw.png" alt="Révision et entretien">
                    </div>
                    <div class="service-title">
                        REVISION et ENTRETIEN
                    </div>
                    <div class="service-text">
                        Votre véhicule est révisé par nos soins
                    </div>
            </div>
            <div class="service-vignette" data-blc="garantie">
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}ribbon.png" alt="Garantie">
                        <img class="white" src="{{ asset('img/white/') }}ribbon.png" alt="Garantie">
                    </div>
                    <div class="service-title">
                        GARANTIE
                    </div>
                    <div class="service-text">
                        Votre véhicule est garanti un an
                    </div>
            </div>
            
              <div class="service-vignette" data-blc="financement">
                    <div class="service-logo">
                        <img class="red hidden" src="{{ asset('img/red/') }}bank.png" alt="Financement">
                        <img class="white" src="{{ asset('img/white/') }}bank.png" alt="Financement">
                    </div>
                    <div class="service-title">
                        FINANCEMENT
                    </div>
                    <div class="service-text">
                        Découvrez nos facilités de financement
                    </div>
            </div>
          </div>

                    
            <div class="template-infos" id="contact">
                 PAGE CONTACT        
            </div>
                    
                    
            <div class="template-infos hidden" id="location">     
                   
                    <!--The div element for the map -->
                    <div id="map"></div>
                    <script>
                // Initialize and add the map
                    function initMap() {
                  // The location of Uluru
                  var garage = {lat: 48.670348, lng: 5.928769};

                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 9, center: garage});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({position: garage, map: map});
                }
                    </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2O30FJvjYjV2aU4FiQtgKHGtX-UbCVRo&callback=initMap">
                    </script>

            </div>
                    
            <div class="template-infos hidden" id="entretien">
                 PAGE REVISION et ENTRETIEN       
            </div>
            <div class="template-infos hidden" id="garantie">
                 PAGE GARANTIE       
            </div>
            <div class="template-infos hidden" id="financement">
                 PAGE FINANCEMENT        
            </div>
              
              
              
              
              
              
              
              
          <div class="down">

          </div>

          <div class="rs-down">
            <div class="rs">
              <img src="{{ asset('img/') }}/facebook.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/') }}/twitter.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/') }}/google-plus.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/') }}/pinterest.png" alt="Menu">
            </div>
            <div class="rs">
              <img src="{{ asset('img/') }}/linkedin.png" alt="Menu">
            </div>
          </div>


            
        
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
    function initMap() {
  // The location of Uluru
  var garage = {lat: 48.670348, lng: 5.928769};

  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 9, center: garage});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: garage, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2O30FJvjYjV2aU4FiQtgKHGtX-UbCVRo&callback=initMap">
    </script>

       
        



    
{% endblock %}

{% block stylesheets %}

    
{% endblock %}

{#AIzaSyD2O30FJvjYjV2aU4FiQtgKHGtX-UbCVRo#}