<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Lemaire Automobiles{% endblock %}</title>
      <meta property="og:url" content="https://www.lemaire-autos.com{% if car is defined %}/car/{{car.id}}{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{% if car is defined %}{{car.modele.marque.name}} {{car.modele.name}} {{car.motorisation}}{% else %}Lemaire Automobiles{% endif %}" /> 
        <meta property="og:description" content="Visitez notre site pour trouver votre véhicule" />
        <meta property="og:image" content="{% if car is defined and photos is defined %}{% for photo in photos %}{% if loop.first %}https://www.lemaire-autos.com/web/img/cars/{{ photo.path }}{{photo.name}}{% endif %}{% endfor %}{% else %}https://www.lemaire-autos.com/web/img/highban1.jpeg{% endif %}" />

     {#   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
#}

        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            
        <link rel="icon" type="image/x-icon" href="{{ asset('web/favicon.png') }}" />
    </head>
    <body>


        
        
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              
        {% endblock %}
        

       <div id="fb-root"></div> 
    </body>
</html>

