{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('car_new') }}">Saisir un nouveau véhicule</a>
        </li>
    </ul>
    
    <h1>Liste des véhicules</h1>

    <table>
        <thead>
            <tr>
                <th>Ref</th>
                <th>Date</th>
                <th>Kms</th>
                <th>Prix destockage</th>
                <th>Vendue</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                
                    <td>{{ car.ref }}</td>
                    <td>{% if car.date %}{{ car.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ car.kms }}</td>
                    <td>{{ car.prixdestock }}</td>
                    <td>{% if car.vendu %} <img src="{{ asset('img/') }}yes.png" alt="oui"> {% else %}<img src="{{ asset('img/') }}no.png" alt="non">{% endif %}</td>
                    <td>{% if car.active %}<img src="{{ asset('img/') }}yes.png" alt="oui">{% else %}<img src="{{ asset('img/') }}no.png" alt="non">{% endif %}</td>
                
                    <td><a href="{{ path('car_show', { 'id': car.id }) }}">Voir</a></td>
                    
                    
                    <td><a href="{{ path('car_edit', { 'id': car.id }) }}">Modifier</a></td>
                           
                    
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Saisir un nouveau véhicule</a>
        </li>
    </ul>
{% endblock %}
