{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('car_new') }}">Saisir un nouveau véhicule</a>
        </li>
         <li>
            <a href="{{ path('homepage') }}">Accueil site</a>
        </li>
    </ul>
    
    <h1>Liste des véhicules</h1>

    <table>
        <thead>
            <tr>
                <th class="center"><b>Ref</b></th>
                <th class="center">Date</th>
                <th class="center">Kms</th>
                <th class="center">Prix destockage</th>
                <th class="center">Vendue</th>
                <th class="center">Active</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars|sort|reverse %}
            <tr>
                
                    <td class="left" style="width:25%">{{ car.ref }}</td>
                    <td class="center" style="width:12%">{% if car.date %}{{ car.date|date('Y-m-d') }}{% endif %}</td>
                    <td class="right"  style="width:8%">{{ car.kms }}</td>
                    <td class="right"  style="width:8%">{{ car.prixdestock }}</td>
                    <td class="center" style="width:8%">{% if car.vendu %} <img src="{{ asset('img/') }}yes.png" alt="oui"> {% else %}<img src="{{ asset('img/') }}no.png" alt="non">{% endif %}</td>
                    <td class="center" style="width:8%">{% if car.active %}<img src="{{ asset('img/') }}yes.png" alt="oui">{% else %}<img src="{{ asset('img/') }}no.png" alt="non">{% endif %}</td>
                
                    <td class="center" style="width:8%"><a href="{{ path('car_show', { 'id': car.id }) }}">Voir</a></td>
                    <td class="center" style="width:8%; color: red;"><a href="{{ path('car_edit', { 'id': car.id }) }}">Modifier</a></td>
                           
                    
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Saisir un nouveau véhicule</a>
        </li>
    </ul>
{% endblock %}
