{% extends 'base.html.twig' %}

{% block body %}
    
        <div class="bann">
            <div class="logo center">
               <img src="{{ asset('img') }}/logo.png" alt="Lemaire Autos">
            </div>
            <div class="menu right">
            <img src="{{ asset('img') }}/menu.png" alt="Menu">
                <div class="menu-small hidden">
                    <a href="{{ path('homepage') }}"><div class="menu-link">VEHICULES</div></a>
                    <a href="{{ path('infos') }}#contact"><div class="menu-link">CONTACT</div></a>
                    <a href="{{ path('infos') }}#location"><div class="menu-link">OU SOMMES-NOUS</div></a>
                </div>
            </div>
            
        </div>
       <div class="new-car-red-bann block">
            <div class="search-left">
                <img src="{{ asset('img/white') }}/car.png" alt="Lemaire Autos">
            </div>
            
            <div class="search-right">
              <div class="search-up">
                  <div class="search-title title-new-car">
                      Nouveau Véhicule
                  </div>
              </div>
            </div>
        </div>

    <div class="new-car-fond">
{#        <form name="lemairebundle_car" method="post" enctype=”multipart/form-data”>#}

<form name="lemairebundle_car" method="post" enctype="multipart/form-data">
    
    <div id="lemairebundle_car">
    
                <div class="new-car-block1">               
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_marque" class="required">Marque</label>
                            <button type="button" class="btn add-marque">Ajouter une marque</button>
                            <button type="button" class="btn remove-marque hidden">Annuler</button>     
                    </div> 
                    <div class="new-car-input required">
                        <select id="lemairebundle_car_marque" name="lemairebundle_car[marque]" placeholder='Sélectionner une marque'>
                            <option value=""></option>
                           {% for marque in marques %}
                           <option value="{{marque.id}}">{{marque.name}}</option>
                           {% endfor %}
                       </select>
                       <div id="add-marque" class="hidden required">
                            <label for="lemairebundle_car_new_marque">
                            </label><input type="text" name="lemairebundle_car[new_marque]" placeholder="Nouvelle marque">
                        </div> 
                    </div>
                </div>

                <div class="new-car-block1">  
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_modele" class="required">Modèle</label>
                            <button type="button" class="btn add-modele">Ajouter un modèle</button>
                            <button type="button" class="btn remove-modele hidden">Annuler</button>    
                    </div> 
                    <div class="new-car-input required">
                        <select id="lemairebundle_car_modele" name="lemairebundle_car[modele]">
                            <option value=""></option>
                            {% for modele in modeles %}
                            <option class="hidden" value="{{modele.id}}" data-marque="{{modele.marque.id}}">{{modele.name}}</option>
                            {% endfor %}
                        </select>
                        <div id="add-modele" class="hidden required">
                            <label for="lemairebundle_car_new_modele">
                            </label><input type="text" name="lemairebundle_car[new_modele]" placeholder="Nouveau modèle">
                        </div>   
                    </div>
                </div>
                        
                 <div class="new-car-block2">        
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_energie" class="required">Energie</label>
                            <button type="button" class="btn add-energie">Ajouter une énergie</button>
                            <button type="button" class="btn remove-energie hidden">Annuler</button>   
                    </div> 
                    <div class="new-car-input">
                        <select id="lemairebundle_car_energie" name="lemairebundle_car[energie]">
                            <option value=""></option>   
                            {% for energie in energies %}
                            <option value="{{energie.id}}">{{energie.name}}</option>
                            {% endfor %}
                        </select>
                         <div id="add-energie" class="hidden">
                            <label for="lemairebundle_car_new_energie">
                            </label><input type="text" name="lemairebundle_car[new_energie]" placeholder="Nouvelle énergie">
                        </div>   
                    </div>
                </div>
                        
                <div class="new-car-block2">    
                     <div class="new-car-input-name">
                         <label for="lemairebundle_car_motorisation">Motorisation</label>
                         </div> 
                         <div class="new-car-input">
                         <input type="text" id="lemairebundle_car_motorisation" name="lemairebundle_car[motorisation]" maxlength="255" placeholder="1.9L TDi 60cv">
                     </div>
                </div>
                        
               
                        
                 <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_boitevitesse">Boitevitesse</label>
                    </div> 
                    <div class="new-car-input">                    
                       <select id="lemairebundle_car_boitevitesse" name="lemairebundle_car[boitevitesse]">
                            <option value=""></option>   
                            <option value="Manuelle">Manuelle</option>     
                            <option value="Automatique">Automatique</option>
                            <option value="Semi-Automatique">Semi-Automatique</option>    
                            <option value="Séquentielle">Séquentielle</option>
                       </select>
                    </div>
                 </div>
                        
                <div class="new-car-block2">      
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_cvfiscaux">CV Fiscaux</label>
                        </div> 
                        <div class="new-car-input">
                      <select id="lemairebundle_car_cvfiscaux" name="lemairebundle_car[cvfiscaux]">
                            <option value=""></option>   
                                {% for i in range(1, 50) %}
                                   <option value="{{ i }}">{{ i }}</option> 
                                    {{ i }}
                                {% endfor %} 
                        </select>
                    </div>
                </div>
    

                {% set minimumYear = 1960 %}
                {% set currentYear = "now"|date("Y") %}   


                <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_annee">Annee</label>
                        </div> 
                        <div class="new-car-input">
                         <select id="lemairebundle_car_annee" name="lemairebundle_car[annee]">
                             <option value=""></option>
                           {% for year in (currentYear)..minimumYear %}
                             <option value="{{year}}">{{year}}</option>   
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_kms">Kms</label>
                        </div> 
                        <div class="new-car-input">
                        <input type="text" id="lemairebundle_car_kms" name="lemairebundle_car[kms]" placeholder="10520">
                    </div>
                </div>
                      
                <div class="new-car-block2">        
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_type" class="required">Type</label>
                           
                    </div> 
                    <div class="new-car-input">
                        <select id="lemairebundle_car_type" name="lemairebundle_car[type]">
                            <option value=""></option>   
                            {% for type in types %}
                            <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="new-car-block2">  
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_serie">Serie</label>
                         </div> 
                         <div class="new-car-input">
                         <input type="text" id="lemairebundle_car_serie" name="lemairebundle_car[serie]" maxlength="255" placeholder="Roland-Garros, Pluriel...">
                     </div>
                </div>
                        
                 <div class="new-car-block4"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_portes">Portes</label>
                    </div> 
                    <div class="new-car-input">
                     <select id="lemairebundle_car_portes" name="lemairebundle_car[portes]"> 
                            <option value=""></option>      
                            <option value="3">3</option>   
                            <option value="4">4</option>   
                            <option value="5">5</option> 
                        </select>
                    </div>
                </div>
                
                <div class="new-car-block4"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_places">Places</label>
                    </div> 
                    <div class="new-car-input">
                     <select id="lemairebundle_car_places" name="lemairebundle_car[places]"> 
                            <option value=""></option>   
                            <option value="2">2</option>   
                            <option value="3">3</option>   
                            <option value="4">4</option>   
                            <option value="5">5</option> 
                            <option value="6">6</option> 
                            <option value="7">7</option> 
                            <option value="8">8</option> 
                            <option value="9">9</option> 
                        </select>
                    </div>
                </div>
                       
                            
                  <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_couleur">Couleur</label>
                    </div> 
                    <div class="new-car-input">

                        <select id="lemairebundle_car_couleur" name="lemairebundle_car[couleur]"> 
                            <option value=""></option>
                            <option value="argent">argent</option>
                            <option value="autre">autre</option>
                            <option value="beige">beige</option>
                            <option value="blanc">blanc</option>
                            <option value="bleu">bleu</option>
                            <option value="bleu azur">bleu azur</option>
                            <option value="bleu clair">bleu clair</option>
                            <option value="bleu foncé">bleu foncé</option>
                            <option value="bleu marine">bleu marine</option>
                            <option value="bordeaux">bordeaux</option>
                            <option value="bronze">bronze</option>
                            <option value="brun">brun</option>
                            <option value="cassis">cassis</option>
                            <option value="cerise">cerise</option>
                            <option value="cuivre">cuivre</option>
                            <option value="framboise">framboise</option>
                            <option value="gris">gris</option>
                            <option value="gris anthracite">gris anthracite</option>
                            <option value="gris clair">gris clair</option>
                            <option value="gris foncé">gris foncé</option>
                            <option value="ivoire">ivoire</option>
                            <option value="jaune">jaune</option>
                            <option value="kaki">kaki</option>
                            <option value="marron">marron</option>
                            <option value="marron clair">marron clair</option>
                            <option value="moka">moka</option>
                            <option value="noir">noir</option>
                            <option value="or">or</option>
                            <option value="orange">orange</option>
                            <option value="platine">platine</option>
                            <option value="prune">prune</option>
                            <option value="rose">rose</option>
                            <option value="rouge">rouge</option>
                            <option value="rouge foncé">rouge foncé</option>
                            <option value="sable">sable</option>
                            <option value="titane">titane</option>
                            <option value="turquoise">turquoise</option>
                            <option value="vert">vert</option>
                            <option value="vert amande">vert amande</option>
                            <option value="vert foncé">vert foncé</option>
                            <option value="violet">violet</option>
                         </select>
                        
                    </div>
                </div>

               

                <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_prixdestock">Prix destockage</label>
                    </div> 
                    <div class="new-car-input">
                        <input type="text" id="lemairebundle_car_prixdestock" name="lemairebundle_car[prixdestock]" placeholder="3500">
                    </div>
                </div>

               

                <div class="new-car-block4"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_prixgarantie">Prix garantie</label>
                    </div> 
                    <div class="new-car-input">
                        <input type="text" id="lemairebundle_car_prixgarantie" name="lemairebundle_car[prixgarantie]" placeholder="4500">
                    </div>
                </div>
                <div class="new-car-block4"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_tempsgarantie">Garantie (en mois)</label>
                    </div> 
                    <div class="new-car-input">
                        <input type="text" id="lemairebundle_car_tempsgarantie" name="lemairebundle_car[tempsgarantie]" placeholder="12" value="{% if car.tempsgarantie != "0" %}{{car.tempsgarantie}}{% endif %}">
                    </div>
                </div>
                        <div class="new-car-input-name">
                            <label>Options</label>
                        </div>
                <div class='option'>      
{#                    <div class="new-car-block4"> #}

{#                            <div id="lemairebundle_car_options" class="option_window">#}
                            <div id="unselectedoptions">

                                {% for option in options %}
                                <div class='new_car_options_list'>
                                    {{option.name}}
                                  {#  <input type="checkbox" id="lemairebundle_car_options_{{option.id}}" name="lemairebundle_car[options][{{option.id}}]" value="{{option.id}}">
                                    <label for="lemairebundle_car_options_{{option.id}}">{{option.name}}</label>#}
                                </div>
                                {% endfor %}

                            </div>
                    <div class="arrows">
                                                                <div class="upperarrows"></div>
                                <div id="upoption"> <img src="{{ asset('img') }}/uparrow.png" alt="Menu"></div>
                                
                                    <div id="addoption"> <img src="{{ asset('img') }}/right-arrow.png" alt="Menu"></div>
                                    <div id="removeoption"> <img src="{{ asset('img') }}/left-arrow.png" alt="Menu"></div>
                                
                                <div id="downoption"> <img src="{{ asset('img') }}/downarrow.png" alt="Menu"></div>

                    </div>

                                
{#                        <div class="new-car-input-name">
                            <label></label>
                        </div>#}
                            <div id="selectedoptions">

{#                            <div id="lemairebundle_car_options" class="option">#}

                               {# {% for option in options|slice(8, 8) %}
                                <div class='new_car_options_list'>
                                    <input type="checkbox" id="lemairebundle_car_options_{{option.id}}" name="lemairebundle_car[options][{{option.id}}]" value="{{option.id}}">
                                    <label for="lemairebundle_car_options_{{option.id}}">{{option.name}}</label>
                                </div>
                                {% endfor %}#}

                            </div>
{#                    </div>#}
                 {#   <div class="new-car-block4"> 
                        <div class="new-car-input-name">
                            <label></label>
                        </div>
                            <div id="lemairebundle_car_options" class="option">

                                {% for option in options|slice(16, 8) %}
                                <div class='new_car_options_list'>
                                    <input type="checkbox" id="lemairebundle_car_options_{{option.id}}" name="lemairebundle_car[options][{{option.id}}]" value="{{option.id}}">
                                    <label for="lemairebundle_car_options_{{option.id}}">{{option.name}}</label>
                                </div>
                                {% endfor %}
                                
                            </div>
                    </div>
                    <div class="new-car-block4"> 
                        <div class="new-car-input-name">
                            <label></label>
                        </div>
                            <div id="lemairebundle_car_options" class="option">

                                {% for option in options|slice(24, 8) %}
                                <div class='new_car_options_list'>
                                    <input type="checkbox" id="lemairebundle_car_options_{{option.id}}" name="lemairebundle_car[options][{{option.id}}]" value="{{option.id}}">
                                    <label for="lemairebundle_car_options_{{option.id}}">{{option.name}}</label>
                                </div>
                                {% endfor %}
                                
                            </div>
                    </div>#}
                                      
                                
                    <div class="new-car-block0">
                        <div class="new-car-input-name" style='font-size:1em'>Options supplémentaires
                        </div>       
                    </div>   
                    <div class="new-car-block0"> 
                           
                        <button type="button" class="btn add-option">Ajouter une option</button>
                          
                    </div>  
                </div> 
             
                <div class="new-car-block0">  
                    <div class="newcar-photos-small-zone"></div>  
                </div> 
               

                        
                <div class="new-car-block0">  
                        
    
                    <p>
                    <label for="my_upload">Sélection de photos </label>
                    <input id="my_upload" multiple name="my_upload[]" type="file">
                    </p>
                    <div class="gallery"></div>
                    
                </div> 
                    
                 <div class="new-car-block2"> 
               
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_active">Visible sur le site</label>
                    </div> 
                    <div class="new-car-input active">
                        <input type="checkbox" id="lemairebundle_car_active" name="lemairebundle_car[active]" value="1">
                    </div>
                     <div class="alerte" id="alerte-visible"></div>
                </div>
                        
                
                <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_centrale">Sur La Centrale</label>
                    </div> 
                    <div class="new-car-input">
                        <input type="checkbox" id="lemairebundle_car_centrale" name="lemairebundle_car[centrale]" value="1">
                    </div>
                      <div class="alerte" id="alerte-centrale"></div>
                </div>

                <div class="new-car-block2"> 
                    <div class="new-car-input-name">
                        <label for="lemairebundle_car_vendu">Vendue</label>
                    </div> 
                    <div class="new-car-input">
                        <input type="checkbox" id="lemairebundle_car_vendu" name="lemairebundle_car[vendu]" value="1">
                    </div>
                </div>                
                
                <div class="new-car-block1">

                   <div class='new-car-save-btn'>
                       <div>
                       <input class="block btn btn-save" type="submit" value="Enregistrer le véhicule">

                       </div>
                       <div class="alerte" id="alerte-save"></div>
                   </div>
                   <div class='new-car-save-btn'>
                          <a class="btn btn-cancel" href="{{ path('car_index') }}">Annuler</a>
                   </div> 
                </div>
                
        </div> 
	</form>

        
    </div> 



{#            

              
               

               

               

            

               

              

              
    {#            <input type="hidden" id="lemairebundle_car__token" name="lemairebundle_car[_token]" value="9Djs_QD2a_TGUzd06QlzXH8IW9706vRD3s0QtmarbK0">#}

{#                <div class="new-car-block1"> 

                       <label for="my_upload">Select the file to upload:</label>
                        <input id="my_upload" name="my_upload" type="file">#}

                      {#  <button type="button" id="clear">Supprimer tout</button>
                        <output id="result" />#}
{#                    </div>#}
{#                </div>
#}



{#                <div class="new-car-block1"> #}

{#                    <div class='new-car-save-btn'>
                        <div>
                        <input class="block btn btn-save" type="submit" value="Enregistrer le véhicule">
                        </div>
                    </div>#}
{#                    <div class='new-car-save-btn'>
                               <a class="btn btn-cancel" href="{{ path('car_index') }}">Annuler</a>
                    </div> 
                </div> #}
     
            
 {#   </form>#}






{#    </div>#}
            
   
            
{% endblock %}
