{% extends 'base.html.twig' %}

{% block body %}

{#    {{dump(car)}}#}
  {#  {{dump(cars)}}
    {{dump(marques)}}
    {{dump(energies)}}
    {{dump(options)}}#}
{#    {{dump(photos)}}#}
    
        <div class="bann">
            <div class="logo center">
               <img src="{{ asset('img/') }}/logo.png" alt="Lemaire Autos">
            </div>
            <div class="menu right">
                <img src="{{ asset('img/') }}/menu.png" alt="Menu">
            </div>
            <div class="rs-up">
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/facebook.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/twitter.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/google-plus.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/pinterest.png" alt="Menu">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/linkedin.png" alt="Menu">
                </div>
            </div>

        </div>

        <div class="search hidden-car">
            <div class="search-left">
                <img src="{{ asset('img/') }}/car.png" alt="Lemaire Autos">
            </div>

            <div class="search-right">
              <div class="search-up">
                  <div class="search-title ">
                      SPECIALISTE DU VEHICULE D'OCCASION A PRIX DISCOUNT
                  </div>
                  <div class="search-menu">
                      <div class="search-menu-contact-zone">
                         <div class="search-menu-contact-img">
                            <img src="{{ asset('img/') }}/speech.png" alt="Menu">
                          </div>
                          <div class="search-menu-contact-txt">
                            CONTACT
                          </div>
                      </div>
                      <div class="search-menu-location-zone">
                         <div class="search-menu-location-img">
                          <img src="{{ asset('img/') }}/map.png" alt="Menu">
                        </div>
                        <div class="search-menu-location-txt">
                          OU SOMMES NOUS
                        </div>
                      </div>
                  </div>
              </div>
              
              <div class="selects-search">
                  
              </div>
            </div>
          </div>
                      
          <div class="list">
          
              <div class='fichecar'>
                  <div class='fichecar-zone-title'>
                      <div class='fichecar-title'>
                        <div class='fichecar-title-big'>{{car.modele.marque.name}} {{car.modele.name}} </div>
                        <div class='fichecar-title-small'>{{car.motorisation}}, {{car.cvfiscaux}}</div>
                      </div>
                      <a href="javascript:history.back()"><div class="fichecar-cross"><img src="{{ asset('img/') }}/cross.png" alt="Retour" width="15"></div>
                      </a>
                  </div>
                
                  <div class="fichecar-zone-infos">
                       <div class="fichecar-price-zone">
                            <div class="fichecar-price">
                              {{car.prixdestock}}€
                            </div>
                            <div class="fichecar-price-trait">
                              Prix destockage
                            </div>
                            <div class="fichecar-price-garantie">
                              {{car.prixgarantie}}€
                            </div>
                            <div class="fichecar-price-text">
                              Prix garantie 12 mois
                            </div>
                        </div>
                        <div class="fichecar-details-zone">
                            <div class="fichecar-details">
                              <img src="{{ asset('img/red') }}/car.png" alt="Type">
                              {{car.type.name}}
                            </div>
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/calendar.png" alt="Année">
                              {{car.annee}}
                            </div>
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/belt.png" alt="Places">
{#                              {{car.places}} places#}
                              4 places
                            </div>
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/color.png" alt="Couleur">
                              {{car.couleur}}
                            </div>
                        </div>
                         <div class="fichecar-details-zone">
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/station.png" alt="Energie">
                              {{car.energie.name}}
                            </div>
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/wheel.png" alt="Kilométrage">
                              {{car.kms}} Kms
                            </div>
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/gear.png" alt="Boite de vitesse">
                              {{car.boitevitesse}}
                            </div>
                            <div class="fichecar-details">
                              <img src="{{ asset('img/details') }}/door.png" alt="Portes">
                              {{car.portes}}
                            </div>
                        </div>                            
                  </div>
                            
                <div class="fichecar-photos-zone">
                    <div class="fichecar-arrow-left">
                         <img src="{{ asset('img/') }}/back.png" alt="Précédente">
                    </div>
                    <div class="fichecar-photo-main">
                        {% for photo in photos %}
                            {% if loop.first %}
                                 <img src="{{ asset('img/cars/') }}{{ photo.path }}{{photo.name}}" alt="{{photo.name}}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="fichecar-arrow-right">
                         <img src="{{ asset('img/') }}/next.png" alt="Précédente">
                    </div>
                    <div class="fichecar-photos-small-zone">
                        <div class="fichecar-photos-small-scroll">
                        {% for photo in photos %}             
                                 <img src="{{ asset('img/cars/') }}{{ photo.pathsmall }}{{photo.namesmall}}" alt="{{photo.name}}">
                        {% endfor %}
                        </div>
                    </div>
                </div>
                            
                <div class="fichecar-options-zone">
                    <div class="fiche-car-options"
                         <ul>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                         </ul>
                    </div>    
                    <div class="fiche-car-options">
                           <ul>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                             <li>Option 1</li>
                         </ul>
                    </div>    
                </div>
                        
                        
                <div class='fichecar-contact-zone'>
                    <div class="fichecar-text-contact">Plus d'informations ? Acheter ce véhicule ?</div>

                        <a class="btn btn-contact" href="{{ path('car_index') }}">Contactez-nous</a> 

                    </div>
             <div class='fichecar-back-zone'>
                    <a href="javascript:history.back()">Revenir à la recherche</a>
             </div> 
                 
            <div class="rs-down">
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/facebook.png" alt="Partager sur Facebook">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/twitter.png" alt="Partager sur Twitter">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/google-plus.png" alt="Partager sur Google+">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/pinterest.png" alt="Partager sur Pinterest">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/linkedin.png" alt="Partager sur LinkedIn">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/letter.png" alt="Envoyer par mail">
                </div>
                <div class="rs">
                  <img src="{{ asset('img/rs') }}/printer.png" alt="Imprimer">
                </div>
              </div>
                        
                        
           

            </div>    
        
                    
                    <div class="list-title">CES VEHICULES PEUVENT AUSSI VOUS INTERESSER</div>
                    
            {% for car in cars %}
                      
          
            <div class="fichecar-vignette" data-brand="{{car.modele.marque.name}}" data-price="2500" data-energy="{{car.energie.name}}">
            	<a href="{{ path('car_show', { 'id': car.id }) }}">
                <div class="fichecar-vignette-petite">
	            	<div class="fichecar-vignette-modele">{{car.modele.marque.name}} {{car.modele.name}}</div>
	            	<div class="fichecar-vignette-motor">
	            		{{car.motorisation}}
	            	</div>
	            	<div class="fichecar-vignette-img">
                            
                        {% for photo in photosautres %}
                            {% if loop.first %}
                                 <img src="{{ asset('img/cars/') }}{{ photo.0.pathsmall }}{{photo.0.namesmall}}" alt="{{car.modele.marque.name}} {{car.modele.name}}">
                            {% endif %}
                        {% endfor %}
{#	            		<img src="{{ asset('img/') }}/cars/IMG_CAR.JPG" alt="PEUGEOT 106">#}
	            	</div>
	            	<div class="fichecar-vignette-price-zone">
	            		<div class="fichecar-vignette-price">{{car.prixdestock}}€</div>
	            		<div class="fichecar-vignette-price-text">
	            			Prix destockage
	            		</div>
	            	</div>
	            	<div class="fichecar-vignette-details-zone">
	            		<div class="fichecar-vignette-details-energy">
	            			<img src="{{ asset('img/details') }}/station.png" alt="Energie">
	            			{{car.energie.name}}
	            		</div>
	            		<div class="fichecar-vignette-details-year">
	            			<img src="{{ asset('img/details') }}/calendar.png" alt="Année">
	            			{{car.annee}}
	            		</div>
	            		<div class="fichecar-vignette-details-kms">
	            			<img src="{{ asset('img/details') }}/wheel.png" alt="Kilométrage">
	            			{{car.kms}} Kms
	            		</div>
	            	</div>
	            </div>
	            
             </a>
            </div>
                        
            {% endfor %}
                
                </div>
                
                
                
                
                
                
                
          <div class="services-band">
            <div class="service-vignette">
              <div class="service-logo">
                  <img src="{{ asset('img/') }}/speech.png" alt="Menu">
              </div>
              <div class="service-title">
                  NOUS CONTACTER
              </div>
              <div class="service-text">
                  
              </div>                             
            </div>
            <div class="service-vignette">
              <div class="service-logo">
                  <img src="{{ asset('img/') }}/map.png" alt="Menu">
              </div>
              <div class="service-title">
                  NOUS TROUVER
              </div>
              <div class="service-text">
                 
              </div>                             
            </div>
            <div class="service-vignette">
              <div class="service-logo">
                  <img src="{{ asset('img/') }}/screw.png" alt="Menu">
              </div>
              <div class="service-title">
                  REVISION et ENTRETIEN
              </div>
              <div class="service-text">
                  Votre véhicule est révisé par nos soins. En savoir plus...
              </div>                            
            </div>
            <div class="service-vignette">
              <div class="service-logo">
                  <img src="{{ asset('img/') }}/ribbon.png" alt="Menu">
              </div>
              <div class="service-title">
                  GARANTIE
              </div>
              <div class="service-text">
                  Votre véhicule est garanti un an. En savoir plus...
              </div>                            
            </div>
            <div class="service-vignette">
              <div class="service-logo">
                  <img src="{{ asset('img/') }}/bank.png" alt="Menu">
              </div>
              <div class="service-title">
                  FINANCEMENT
              </div>
              <div class="service-text">
                  Découvrez nos facilités de financement. En savoir plus...
              </div>                            
            </div>
          </div>

          <div class="down">

          </div>

          



       
        



    
{% endblock %}

{% block stylesheets %}

    
{% endblock %}